<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mpserver.mapper.microprogram.SignRecordMapper">
	<!-- <resultMap id="BaseResultMap" type="mpserver.entity.microprogram.SignRecordEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<id column="creator" property="creator" jdbcType="VARCHAR" />
		<id column="modifier" property="modifier" jdbcType="VARCHAR" />
		<id column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<id column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="activity_name" property="activityName" jdbcType="VARCHAR" />
		<result column="remark" property="remark" javaType="VARCHAR" />
	</resultMap> -->
	<resultMap id="BaseResultMap" type="mpserver.entity.microprogram.SignRecordEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<id column="creator" property="creator" jdbcType="VARCHAR" />
		<id column="modifier" property="modifier" jdbcType="VARCHAR" />
		<id column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<id column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="activity_id" property="activityId" jdbcType="BIGINT" />
		<result column="activity_name" property="activityName" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap> 

	<sql id="Base_Column_List_withoutid">
		creator,modifier,gmt_create,gmt_modified,open_id,activity_id,activity_name,remark
	</sql>
	<sql id="Base_Column_List">
		id,
		<include refid="Base_Column_List_withoutid" />
	</sql>

	<select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM sign_record
		WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="mpserver.entity.microprogram.SignRecordEntity">
		INSERT INTO
		sign_record
		(
		<include refid="Base_Column_List_withoutid" />
		)
		VALUES
		(#{creator}, #{modifier}, #{gmtCreate}, #{gmtModified}, #{openId}, #{activityId}, #{activityName}, #{remark})
	</insert>

	<update id="update" parameterType="mpserver.entity.microprogram.SignRecordEntity">
		UPDATE
		sign_record
		<trim prefix="set" suffixOverrides=",">
			gmt_modified = #{gmtModified},
			modifier=#{modifier},
			<if test="remark != null">remark = #{remark},</if>
		</trim>
		WHERE
		id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM
		sign_record
		WHERE
		id =#{id}
	</delete>
</mapper>